body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffd700);
    color: #222;
}

/*HERO SECTION*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.hero-image img {
  width: 350px;
  max-width: 100%;
  border-radius: 10px;
}

.hero-text h1 {
    font-size: 50px;
    margin: 0 0 15px 0;
}

.hero-text{
    max-width: 700px;
    color : #286F7B;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}
.skills {
    padding: 60px;
    background: #f0f7ff;
    margin: 20px;
    border-radius: 12px;

}
.skills h2{
    font-size: 40px;
    text-align: center;
}

.badges {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 25px;
}

.bdg{
    border: 2px solid #000;
    border-radius: 12px;
    padding: 25px;
}

/*HERO SECTION*/
.info {
    display: flex;
    gap: 40px;
    background: #fff6ee;
    padding: 60px;
    margin: 30px;
    border-radius: 12px;
}
.info-box {
    flex: 1;
}

.info-box h2 {
    font-size: 26px;
}
.info-box ul {
    font-size: 20px;
}

.info-box li:marker {
    font-size: 30px;
}

/*PROJECTS SECTION*/
.projetcs {
    background: #eef7f1;
    padding: 60ppx;
    margin: 30px;
    border-radius: 12px;
}

.projects h2 {
    font-size: 50px;
    text-align: center;
    color : #286F7B;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.project-card {
    background: linear-gradient(180deg, #ffffff, #ffb6c1);
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    padding: 20px;
}
.project-card:nth-child(4) {
    grid-column: 2;
    margin-top: 30px;
}
.project-card img {
    width: auto;
    height: 180px;
    display: block;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 12px;
}
.project-card h3 {
    font-size: 20px;
}
.project-card p {
    font-size: 16px;
}

#selectedSkillText {
    font-size: 26px;
    text-align: center;

}

.bdg.selected {
    background: #E3AFD0
}
/* Profile Toggle Button */
#togglePorfileBtn {
    margin-top: 20px;
    padding: 14px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

#toggleProfileBtn:hover {
    opacity: 0.7;

}
.contact {
    background: linear-gradient(180deg, #ffffff, #000000);
    padding: 60px;
    margin: 30px;
    border-radius: 12px;
}

.contact h2 {
    text-align: center;
    font-size: 50;
}

.contact label {
    display: block;
    font-size: 18px;
    margin: 12px 0 6px 0;
}

.contact input,
.contact textarea {
    width: 300px;
    padding: 12px;
    font-size: 16px;
}

#sendEmailButton {
    display: block;
    margin-top: 15px;
    padding: 12px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #333;
    padding: 15px 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: #ffd700;
}

/*DARK MODE*/
body.dark {
    background: #222;
    color: white;
}

body.dark .skills,
body.dark .info,
body.dark .projects,
body.dark .contact {
    background: #333;
    color: grey;
}

body.dark .navbar {
    background: #111;
}

/*TESTIMONIALS*/
.testimonials {
    padding: 50px 60px;
    margin: 0 30px 25px 30px;
}

.testimonials h2 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.testimonial-card {
    background: linear-gradient(180deg, #ff0000, #FFF59E, #ff69b4, #9b59b6);
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.testimonial-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial-card p {
    font-size: 16px;
    color: #000000
}
.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
/*Centrer la phrase*/

#skillClickCount {
    text-align: center;
}
